html, body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  background-color: #165A6C;
}

.nav {
  margin: 0;
  padding: 20px 0px;
}

.nav li {
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline;
  padding: 0 10px;
}

.nav a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none; 
}

.jumbotron {
  height: 800px;
  background: url("/home/loki/Документы/codecademy/15_real-world/temp/img/sea-6.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
  background-size: cover;
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.main h1 {
  color: #165A6C;
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  text-transform: uppercase;
}

.main p {
  color: #165A6C;
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 80px;
}
